.btnContinuer {
    -fx-background-color: #756fd4;
}

.btnContinuer:hover {
    -fx-background-color: #8681dd;
    -fx-cursor: hand;
}

.topLine {
    -fx-stroke: #a8a5e380;
}

.btnRechercher {
    -fx-border-width: 5px;
    -fx-border-color: #a8a5e380;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.btnRechercher:hover {
    -fx-background-color: #a8a5e3;
    -fx-cursor: hand;
}

.btnRetourner {
    -fx-border-width: 0 0 5px 0;
    -fx-border-color: #a8a5e380;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.btnRetourner:hover {
    -fx-cursor: hand;
    -fx-background-color: #a8a5e380;
}

.lblPrimary {
    -fx-border-width: 0 0 5px 0;
    -fx-border-color: #a8a5e380;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.lblPrimary:hover {
    -fx-cursor: hand;
    -fx-background-color: #a8a5e3;
}

.lblDoc {
    -fx-border-width: 3px;
    -fx-border-color: #a8a5e380;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.lblDoc:hover {
    -fx-cursor: hand;
    -fx-background-color: #a8a5e3;
}


/*
 * FOR EACH DOCUMENT:
 */

.viewSingleDocImg, .delSingleDocImg {
    -fx-border-width: 10px;
    -fx-color: #a8a5e380;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
    -fx-border-color: black;
    -fx-border-width: 10px;
    -fx-fit-width: 25;
    -fx-fit-height: 25;
}

.viewSingleDocImg:hover, .delSingleDocImg:hover {
    -fx-cursor: hand;
    -fx-background-color: #a8a5e3;
}

.singleDocHBox {
    -fx-spacing: 4px;
}

.singleDocLabel {
    -fx-padding: 0 0 0 5px;
    -fx-border-insets: 0 0 5px 0;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #a8a5e380;
    -fx-border-style: solid;
    -fx-border-radius: 2px;
    -fx-pref-width: 300;
}
